.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.user img {
    width: 30px;
    border-radius: 90%;
    margin-left: 10px;
}